.carousel .h1{
    font-size: 50%;
}
#about .card img{
    height: 9vh;
    width: 4rem;
    margin-left: 9rem;

}
#product .card img{
    height: 50vh;
    width: 18rem; 
    padding-left: 4rem;
}
/* #product{
    background-color: rgb(146, 139, 143);
} */
.navbar{
    background-color: rgb(252, 252, 181);
}
@media screen and (max-width:768px) {
    .navbar .right a{
        display: none;
    }
    .foot a{
        display: none;
    }
    .text{
        display: none;
    }
    .text1{
        display: none;
    }
    .text2{
        display: none;
    }
    .text3{
        display: none;
    }
    .card{
        margin-top: 2rem;
    }
}
